[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.5"
phonenumbers = "*"
django-phonenumber-field = "*"
djangorestframework = "~=3.14.0"
django-environ = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-scheduler = "*"

[dev-packages]

[requires]
python_version = "3.11"
